# Node.js 관련
node_modules/
dist/
build/

# TypeScript 관련
*.tsbuildinfo

# 환경 설정 파일
.env
.env.local
.env.*.local

# 로그 파일
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 운영 체제별 파일
.DS_Store
Thumbs.db

# IDE/편집기 관련 파일
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
.prettierrc
